{% macro render_products(products, current_user) %}
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Productos</div>
    <div class="panel-body">
      <p>Listado de productos existentes</p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Sku</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Marca</th>
          {% if current_user.is_authenticated and current_user.is_admin %}
          <th>Acciones</th>
          {% endif %}
        </tr>
      </thead>
      {% for product in products %}
      <tbody>
        <td>{{product.sku}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.brand}}</td>
        {% if current_user.is_authenticated and current_user.is_admin %}
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target="#myModal"
              >
                <span
                  class="glyphicon glyphicon-edit"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
            <div class="btn-group" role="group">
              <button
                type="button"
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#myModal"
              >
                <span
                  class="glyphicon glyphicon-remove"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
        </td>
        {% endif %}
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>

{% endmacro %} {% macro render_users(users, current_user) %}
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Usuarios</div>
    <div class="panel-body">
      <p>Listado de usuarios existentes</p>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>username</th>
          <th>email</th>
          <th>isAdmin</th>
          {% if current_user.is_authenticated and current_user.is_admin %}
          <th>Actions</th>
          {% endif %}
        </tr>
      </thead>
      {% for user in users %}
      <tbody>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.is_admin}}</td>
        {% if current_user.is_authenticated and current_user.is_admin %}
        <td>
          <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button
                type="button"
                class="btn btn-info"
                data-toggle="modal"
                data-target="#myModal"
              >
                <span
                  class="glyphicon glyphicon-edit"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
            <div class="btn-group" role="group">
              <button
                type="button"
                class="btn btn-danger"
                data-toggle="modal"
                data-target="#myModal"
              >
                <span
                  class="glyphicon glyphicon-remove"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
        </td>
        {% endif %}
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endmacro %}
